body {
    align-items: center;
    background-color: #1e3a66;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.bingo-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(5, 1fr);
    height: 90vh;
    width: 90vh;
}

.bingo-tile {
    align-items: center;
    background-color: #141756;
    border: 5px solid #6d748e;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.7vh;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

.description {
  padding-left: 4px;
  padding-right: 4px;
}

.selected {
    background-image: url("./ankit.png");
    background-size: 100% 100%;
}

.bingo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
    font-size: 64px;
    width: 90vh;
}

.pink {
    color: #FD00B7;
}

.gray {
    color: white;
}